Package: com.ethanjansen.testmodule
Name: TestModule
Depends: mobilesubstrate, firmware (>= 11.0), com.opa334.ccsupport
Architecture: iphoneos-arm
Description: An awesome Control Center module
Maintainer: Ethan Jansen
Author: Ethan Jansen
Section: Control Center (Modules)
Version: 0.0.1-3+debug
Installed-Size: 100
